* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
}

main {
    padding: 1rem;
    background-color: #eee;
}
h1 {
    color: #bbb;
    padding: 2rem 0 1rem 1rem;
}

ul {
    display: grid;
    row-gap: .5rem;
}
li {
    list-style: none;
    padding: .5rem;
    background-color: #fff;
    color: #fff;
}

@media (max-width: 640px) {
    li:first-child {
        background-color: red;
    }
}

@media (min-width: 640px) and (max-width: 800px) {
    li:nth-child(2) {
        background-color: red;
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    li:nth-child(3) {
        background-color: red;
    }
}
@media (min-width: 1024px) and (max-width: 1280px) {
    li:last-child {
        background-color: red;
    }
}